.liwe3-button {
    padding: .5rem;
    border: 1px solid var(--liwe-darker-primary-color);
    border-radius: var(--liwe-border-radius); 
    background-color: var(--liwe-primary-color);
    color: var(--liwe-default-color);
    cursor: pointer;
    min-width: 8em;
    font-size: var(--liwe-font-size);
}
/* sizes */
.liwe3-button-xs {
    font-size: .7rem;
    min-width: 4em;
}

.liwe3-button-sm {   
    font-size: .8rem;
    min-width: 6em;
}

.liwe3-button-md {
    min-width: 8em;
}

.liwe3-button-lg {
    min-width: 10em;
}

.liwe3-button-xl {
    min-width: 12em;
}

.liwe3-button-block {
    width: 100%;
}
/* colors */
.liwe3-button,
.liwe3-button.liwe3-button-primary {
    background-color: var(--liwe-primary-color);
    color: var(--liwe-default-color);
}

.liwe3-button:hover:not(:disabled),
.liwe3-button.liwe3-button-primary:hover:not(:disabled) {
    filter: brightness(1.3);
}

.liwe3-button.liwe3-button-secondary {
    background-color: var(--liwe-secondary-color);
    color: var(--liwe-default-color);
}

.liwe3-button.liwe3-button-secondary:hover:not(:disabled) {
    background-color: var(--liwe-lighter-secondary-color);
    color: var(--liwe-default-color);
} 

.liwe3-button.liwe3-button-success {
    background-color: var(--liwe-success-color);
    color: var(--liwe-secondary-color);
}

.liwe3-button.liwe3-button-success:hover:not(:disabled) {
    background-color: var(--liwe-success-color);
    color: var(--liwe-secondary-color);
    filter: brightness(1.3);
} 

.liwe3-button.liwe3-button-danger {
    background-color: var(--liwe-danger-color);
    color: var(--liwe-default-color);
}

.liwe3-button.liwe3-button-danger:hover:not(:disabled) {
    background-color: var(--liwe-danger-color);
    filter: brightness(1.3);
}

.liwe3-button.liwe3-button-warning {
    background-color: var(--liwe-warning-color);
    color: var(--liwe-default-color);
}

.liwe3-button.liwe3-button-warning:hover:not(:disabled) {
    background-color: var(--liwe-warning-color);
    filter: brightness(1.3);
}

.liwe3-button.liwe3-button-info {
    background-color: var(--liwe-info-color);
    color: var(--liwe-default-color);
}

.liwe3-button.liwe3-button-info:hover:not(:disabled) {
    background-color: var(--liwe-info-color);
    filter: brightness(1.3);
}

.liwe3-button.liwe3-button-light {
    background-color: var(--liwe-light-color);
    color: var(--liwe-dark-color);
}

.liwe3-button.liwe3-button-light:hover:not(:disabled) {
    background-color: var(--liwe-light-color);
    color: var(--liwe-dark-color);
    filter: brightness(0.7);
}

.liwe3-button.liwe3-button-dark {
    background-color: var(--liwe-dark-color);
    color: var(--liwe-default-color);
}

.liwe3-button.liwe3-button-dark:hover:not(:disabled) {
    background-color: var(--liwe-dark-color);
    filter: brightness(1.3);
}

.liwe3-button.liwe3-button-ghost {
    background-color: transparent; 
    color: inherit;
}

.liwe3-button.liwe3-button-ghost:hover:not(:disabled) {
    background-color: var(--liwe-primary-color);
}