.liwe3-input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}


.liwe3-input-group-append,
.liwe3-input-group-prepend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0;
    margin-top: 1.2rem;
}

.liwe3-input-group-append {
    margin-left: .6rem;
}

.liwe3-input-group-prepend {
    margin-right: 1rem;
}

.liwe3-input-group-prepend button,
.liwe3-input-group-append button {
    padding: 0.5rem 1rem;
    font-size: var(--liwe-font-size);
    line-height: 1.2;
}

.liwe3-input-group input,
.liwe3-input-group-prepend button:not(:first-child),
.liwe3-input-group-append button:not(:last-child) {
    border-radius: 0 !important;
}

.liwe3-input-group-prepend button:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.liwe3-input-group-append button:last-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
