@import 'colors';
@import 'typography';
@import 'functions/colors';
@import 'screens';
@import 'layout';
@import 'mixins/layout';
@import 'variables';

html {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: var(--liwe-font-size);
}

body {
	width: 100%;
	height: 100%;
	overflow: auto;

	background-color: var(--liwe-main-bg-color);

	font-family: var(--liwe-font-family);
	font-size: var(--liwe-font-size);
	font-weight: var(--liwe-font-weight);
	color: var(--liwe-default-color); 
}

/* Storybook */
.storybook-top-bar {
  height: fit-content;
  width: 100%;
  padding: 0 1rem .3rem 1rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--liwe-info-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

/* Typography */

h1 {
  font-size: 2.5rem;
  font-weight: calc((var(--liwe-font-weight) /2) * 3);
  line-height: $liweDefaultLineHeight;
  letter-spacing: $liweDefaultLetterSpacing;
  text-align: $liweDefaultTextAlign;
}

h2 {
  font-size: 2rem;
  font-weight: calc((var(--liwe-font-weight) /2) * 3);
  line-height: $liweDefaultLineHeight;
  letter-spacing: $liweDefaultLetterSpacing;
  text-align: $liweDefaultTextAlign;
}

h3 {
  font-size: 1.75rem;
  font-weight: calc((var(--liwe-font-weight) /2) * 3);
  line-height: $liweDefaultLineHeight;
  letter-spacing: $liweDefaultLetterSpacing;
  text-align: $liweDefaultTextAlign;
}

h4 {
  font-size: 1.5rem;
  font-weight: calc((var(--liwe-font-weight) /2) * 3);
  line-height: $liweDefaultLineHeight;
  letter-spacing: $liweDefaultLetterSpacing;
  text-align: $liweDefaultTextAlign;
}

h5 {
  font-size: 1.25rem;
  font-weight: calc((var(--liwe-font-weight) /2) * 3);
  line-height: $liweDefaultLineHeight;
  letter-spacing: $liweDefaultLetterSpacing;
  text-align: $liweDefaultTextAlign;
}

h6 {
  font-size: 1rem;
  font-weight: calc((var(--liwe-font-weight) /2) * 3);
  line-height: $liweDefaultLineHeight;
  letter-spacing: $liweDefaultLetterSpacing;
  text-align: $liweDefaultTextAlign;
}

p {
  font-size: 1rem;
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
}

a {
  font-size: 1rem;
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
}

li {
  font-size: 1rem;
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
}

blockquote {
  font-size: 1rem;
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
}

small {
  font-size: 0.875rem;
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
}

code {
  font-size: 1rem;
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
}

pre {
  font-size: 1rem;
  font-weight: var(--liwe-font-weight);

  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
}

kbd {
  font-size: 1rem;
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
}

strong {
  font-size: 1rem;
  font-weight: calc((var(--liwe-font-weight) /2) * 3);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
}

input {
  font-size: var(--liwe-font-size); 
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;

  &::placeholder {
    font-size: 1rem;
    font-weight: var(--liwe-font-weight);
    line-height: $liweDefaultLineHeight;
    letter-spacing: 0;
    text-align: $liweDefaultTextAlign;
  }
}

button {
    padding: .25rem 1rem;
    border: 1px solid var(--liwe-darker-primary-color);
    border-radius: var(--liwe-border-radius); 
    background-color: var(--liwe-primary-color);
    color: var(--liwe-default-color);
    font-size: var(--liwe-font-size);
}

button:hover {
    background-color: var(--liwe-lighter-primary-color);
    color: var(--liwe-default-color);
}

.liwe3-lead{
	font-size: 1.25rem;
	font-weight: calc((var(--liwe-font-weight) /2) * 2.5);
	line-height: $liweDefaultLineHeight;
	letter-spacing: 0;
	text-align: $liweDefaultTextAlign;
}

/* LAYOUT */

/* flex */
.liwe3-container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.liwe3-container {
  width: $liweXxl;
}

.liwe3-flex-start {
  justify-content: liwe-flex-start !important;
}

.liwe3-flex-end {
  justify-content: liwe-flex-end !important;
}

.liwe3-flex-center {
  justify-content: center !important;
}

.liwe3-flex-between {
  justify-content: space-between !important;
}

.liwe3-flex-around {
  justify-content: space-around !important;
}

.liwe3-flex-evenly {
  justify-content: space-evenly !important;
}

.liwe3-flex-top {
  align-items: liwe-flex-start !important;
}

.liwe3-flex-bottom {
  align-items: liwe-flex-end !important;
}

.liwe3-flex-middle {
  align-items: center !important;
}

.liwe3-flex-stretch {
  align-items: stretch !important;
}

.liwe3-flex-baseline {
  align-items: baseline !important;
}

.liwe3-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -#{($liweGuttersX)};
}

.liwe3-col {
  position: relative;
  width: 100%;
}

.liwe3-col1 {
	@include liweCol(1, $liweGuttersX, $liweGuttersY);
}

.liwe3-col2 {
	@include liweCol(2, $liweGuttersX, $liweGuttersY);
}

.liwe3-col3 {
	@include liweCol(3, $liweGuttersX, $liweGuttersY);
}

.liwe3-col4 {
	@include liweCol(4, $liweGuttersX, $liweGuttersY);
}

.liwe3-col5 {
	@include liweCol(5, $liweGuttersX, $liweGuttersY);
}

.liwe3-col6 {
	@include liweCol(6, $liweGuttersX, $liweGuttersY);
}

.liwe3-col7 {
	@include liweCol(7, $liweGuttersX, $liweGuttersY);
}

.liwe3-col8 {
	@include liweCol(8, $liweGuttersX, $liweGuttersY);
}

.liwe3-col9 {
	@include liweCol(9, $liweGuttersX, $liweGuttersY);
}

.liwe3-col10 {
	@include liweCol(10, $liweGuttersX, $liweGuttersY);
}

.liwe3-col11 {
	@include liweCol(11, $liweGuttersX, $liweGuttersY);
}

.liwe3-col12 {
	@include liweCol(12, $liweGuttersX, $liweGuttersY);
}

.liwe3-col-offset1 {
  margin-left: 8.333333%;
}

.liwe3-col-offset2 {
  margin-left: 16.666667%;
}

.liwe3-col-offset3 {
  margin-left: 25%;
}

.liwe3-col-offset4 {
  margin-left: 33.333333%;
}

.liwe3-col-offset5 {
  margin-left: 41.666667%;
}

.liwe3-col-offset6 {
  margin-left: 50%;
}

.liwe3-col-offset7 {
  margin-left: 58.333333%;
}

.liwe3-col-offset8 {
  margin-left: 66.666667%;
}

.liwe3-col-offset9 {
  margin-left: 75%;
}

.liwe3-col-offset10 {
  margin-left: 83.333333%;
}

.liwe3-col-offset11 {
  margin-left: 91.666667%;
}

/* colors */

.liwe3-bg-main {
  background-color: var(--liwe-main-bg-color) !important;
}

.liwe3-bg-primary {
  background-color: var(--liwe-primary-color) !important;
}

.liwe3-bg-primary-dark {
  background-color: var(--liwe-darker-primary-color) !important;
}

.liwe3-bg-primary-light {
  background-color: var(--liwe-lighter-primary-color) !important;
}

.liwe3-bg-primary-comp {
  background-color: var(--liwe-comp-primary-color) !important;
}

.liwe3-bg-secondary {
  background-color: var(--liwe-secondary-color) !important;
}

.liwe3-bg-secondary-dark {
  background-color: var(--liwe-darker-secondary-color) !important;
}

.liwe3-bg-secondary-light {
  background-color: var(--liwe-lighter-secondary-color) !important;
}

.liwe3-bg-secondary-comp {
  background-color: var(--liwe-comp-secondary-color) !important;
}

.liwe3-bg-light {
  background-color: var(--liwe-lighter-secondary-color) !important;
}
.liwe3-bg-success {
  background-color: var(--liwe-success-color) !important;
}

.liwe3-bg-danger {
  background-color: var(--liwe-danger-color) !important;
}

.liwe3-bg-warning {
  background-color: var(--liwe-warning-color) !important;
}

.liwe3-bg-info {
  background-color: var(--liwe-info-color) !important;
}

.liwe3-bg-light {
  background-color: var(--liwe-light-color) !important;
}

.liwe3-bg-dark {
  background-color: var(--liwe-dark-color) !important;
}

.liwe3-txt-primary {
  color: var(--liwe-primary-color) !important;
}

.liwe3-txt-primary-dark {
  color: var(--liwe-darker-primary-color) !important;
}

.liwe3-txt-primary-light {
  color: var(--liwe-lighter-primary-color) !important;
}

.liwe3-txt-primary-comp {
  color: var(--liwe-comp-primary-color) !important;
}

.liwe3-txt-secondary {
  color: var(--liwe-secondary-color) !important;
}

.liwe3-txt-secondary-dark {
  color: var(--liwe-darker-secondary-color) !important;
}

.liwe3-txt-secondary-light {
  color: var(--liwe-lighter-secondary-color) !important;
}

.liwe3-txt-secondary-comp {
  color: var(--liwe-comp-secondary-color) !important;
}

.liwe3-txt-light {
  color: var(--liwe-light-color) !important;

}
.liwe3-txt-dark {
  color: var(--liwe-dark-color) !important;
}

.liwe3-txt-success {
  color: var(--liwe-success-color) !important;
}

.liwe3-txt-error,
.liwe3-txt-danger {
  color: var(--liwe-danger-color) !important;
}

.liwe3-txt-warning {
  color: var(--liwe-warning-color) !important;
}

.liwe3-txt-info {
  color: var(--liwe-info-color) !important;
}

@media (max-width: #{$liweXs}) {
  .liwe3-container {
    max-width: calc(#{$liweXs} - 1rem);
  }
}

@media (min-width: #{$liweSm}) {
  .liwe3-container {
    max-width: calc(#{$liweSm} - 2rem);
  }
}

@media (min-width: #{$liweMd}) {
  .liwe3-container {
    max-width: calc(#{$liweMd} - 3rem);
  }
}

@media (min-width: #{$liweLg}) {
  .liwe3-container {
    max-width: calc(#{$liweLg} - 3rem);
  }
}

@media (min-width: #{$liweXl}) {
  .liwe3-container {
    max-width: calc(#{$liweXl} - 3rem);
  }
}

@media (min-width: #{$liweXxl}) {
  .liwe3-container {
    max-width: calc(#{$liweXxl} - 3rem);
  }
}

/* FORMS ELEMENTS */

.liwe3-form-container{
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.liwe3-form-hint {
  display: none;
  font-size: 0.875rem;
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
  color: var(--liwe-light-color);
}

.liwe3-form-hint.show {
  display: block;
}

.liwe3-select-container .liwe3-select-button, 
.liwe3-form-textarea,
.liwe3-form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--liwe-default-color);
  border-radius: var(--liwe-border-radius);
  background-color: var(--liwe-lighter-secondary-color);
  color: var(--liwe-default-color);
  font-size: var(--liwe-font-size);
  font-weight: var(--liwe-font-weight);
  line-height: $liweDefaultLineHeight;
  letter-spacing: 0;
  text-align: $liweDefaultTextAlign;
  margin: .3rem 0;

  &::placeholder {
    color: var(--liwe-light-color);
  }
}

.liwe3-form-textarea:focus,
.liwe3-form-input:focus {
  outline: none;
  border: 1px solid var(--liwe-primary-color);
}

.liwe3-form-textarea.error,
.liwe3-form-input.error {
  border: 1px solid var(--liwe-danger-color);
}

.liwe3-form-textarea.error:focus,
.liwe3-form-input.error:focus {
  outline: none;
  border: 1px solid var(--liwe-danger-color);
}

.liwe3-form-textarea.success,
.liwe3-form-input.success {
  border: 1px solid var(--liwe-success-color);
}

.liwe3-form-textarea.success:focus,
.liwe3-form-input.success:focus {
  outline: none;
  border: 1px solid var(--liwe-success-color);
}

.liwe3-form-textarea.warning,
.liwe3-form-input.warning {
  border: 1px solid var(--liwe-warning-color);
}

.liwe3-form-textarea.warning:focus,
.liwe3-form-input.warning:focus {
  outline: none;
  border: 1px solid var(--liwe-warning-color);
}

.liwe3-form-textarea.info,
.liwe3-form-input.info {
  border: 1px solid var(--liwe-info-color);
}

.liwe3-form-textarea.info:focus,
.liwe3-form-input.info:focus {
  outline: none;
  border: 1px solid var(--liwe-info-color);
}

.liwe3-form-textarea.disabled,
.liwe3-form-textarea:disabled,
.liwe3-form-input:disabled,
.liwe3-form-input.disabled {
  border: 1px solid var(--liwe-light-color);
  background-color: var(--liwe-light-color);
  color: var(--liwe-default-color);
}

.liwe3-form-textarea.disabled:focus,
.liwe3-form-input.disabled:focus {
  outline: none;
  border: 1px solid var(--liwe-light-color);
}

.liwe3-form-textarea.disabled::placeholder,
.liwe3-form-textarea:disabled::placeholder,
.liwe3-form-input:disabled::placeholder, 
.liwe3-form-input.disabled::placeholder {
  color: var(--liwe-light-color);
}


/* Basic editor styles */
.ProseMirror {
	border: 1px solid var(--border-color);
	padding: 8px;
	min-height: 300px;

	>*+* {
		margin-top: 0.75em;
	}

	pre {
		background: var(--liwe-main-bg-color);
		border-radius: 0.5rem;
		color: var(--liwe-default-color);
		font-family: var(--liwe-font-family); 
		padding: 0.75rem 1rem;

		code {
			background: none;
			color: inherit;
			font-size: 0.8rem;
			padding: 0;
		}

		.hljs-comment,
		.hljs-quote {
			color: var(--liwe-info-color);
		}

		.hljs-variable,
		.hljs-template-variable,
		.hljs-attribute,
		.hljs-tag,
		.hljs-name,
		.hljs-regexp,
		.hljs-link,
		.hljs-name,
		.hljs-selector-id,
		.hljs-selector-class {
			color: var(--liwe-light-color);
		}

		.hljs-number,
		.hljs-meta,
		.hljs-built_in,
		.hljs-builtin-name,
		.hljs-literal,
		.hljs-type,
		.hljs-params {
			color: var(--liwe-warning-color);
		}

		.hljs-string,
		.hljs-symbol,
		.hljs-bullet {
			color: var(--liwe-success-color);
		}

		.hljs-title,
		.hljs-section {
			color: var(--liwe-danger-color);
		}

		.hljs-keyword,
		.hljs-selector-tag {
			color: var(--liwe-primary-color);
		}

		.hljs-emphasis {
			font-style: italic;
		}

		.hljs-strong {
			font-weight: 700;
		}
	}
}