:root {
  --liwe-main-font-family: Roboto, sans-serif;
  --liwe-space-1: 0.25rem;
  --liwe-space-2: 0.5rem;
  --liwe-space-3: 1rem;
  --liwe-space-4: 2rem;
  --liwe-border-radius: 0.25rem;
  --liwe-font-family: Roboto, sans-serif;
  --liwe-font-weight: 300;
  --liwe-font-size: 20px;
  --liwe-border-radius: 0.25rem; }

.liwe-light-theme {
  --liwe-primary-color: darkgray;
  --liwe-darker-primary-color: #767676;
  --liwe-lighter-primary-color: gainsboro;
  --liwe-comp-primary-color: darkgray;
  --liwe-secondary-color: #caebf2;
  --liwe-darker-secondary-color: #78ccde;
  --liwe-lighter-secondary-color: white;
  --liwe-comp-secondary-color: #f2d1ca;
  --liwe-main-bg-color: #efefef;
  --liwe-default-color: #767676;
  --liwe-danger-color: #ff3b3f;
  --liwe-warning-color: #34294f;
  --liwe-info-color: #03144a;
  --liwe-success-color: #035856;
  --liwe-light-color: white;
  --liwe-dark-color: #090928;
  --bg-color: rgba(72, 130, 183,1);
  --bg-secondary-color: rgba(183, 132, 72, 1);
  --text-color: #333;
  --text-color-lighter: #666;
  --main-bg-color: rgba(204, 204, 204, 1);
  --main-bg-darker:rgba(153,153,153,1);
  --border-color: #222; }

.liwe-dark-theme {
  --liwe-primary-color: #9b1366;
  --liwe-darker-primary-color: #40082a;
  --liwe-lighter-primary-color: #e52f9e;
  --liwe-comp-primary-color: #139b48;
  --liwe-secondary-color: #424242;
  --liwe-darker-secondary-color: #0f0f0f;
  --liwe-lighter-secondary-color: #757575;
  --liwe-comp-secondary-color: #424242;
  --liwe-main-bg-color: #424242;
  --liwe-default-color: #caebf2;
  --liwe-danger-color: #af7ff5;
  --liwe-warning-color: #ffa161;
  --liwe-info-color: #5884f1;
  --liwe-success-color: #62ffec;
  --liwe-light-color: #caebf2;
  --liwe-dark-color: #1e0909;
  --bg-color: #666;
  --text-color: white;
  --text-color-lighter: #ccc;
  --main-bg-color: #222;
  --main-bg-darker: #333;
  --border-color: #ccc; }
